@import url("fonts/Gilroy/gilroy.css");

body *{background-repeat: no-repeat;font-size: 14px; text-decoration: none; color: #000000; box-sizing: border-box}
*{position: relative; font-family: 'Gilroy'; font-size: 14px}
.container{padding: 22px 25px 25px}
.header__contacts-wrap, .header__social-wrap, .header__menu-wrap, .header__login-wrap, .header__wishlist, .main-menu{display: none}
.header .container{display: -webkit-flex;display: -webkit-box;display: -ms-flexbox;display: flex;}
.header__mobile-menu span,.header__mobile-menu:before,.header__mobile-menu:after{content: ''; height: 3.5px; width: 20px; display: block; background-color: #000000; position: absolute; top: 0; bottom: 0; margin: auto;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
.header__mobile-menu:before{bottom: auto;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
.header__mobile-menu:after{top: auto;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
.header__mobile-menu{width: 20px; height: 17px; display: block}
.header__logo{width: 85px;height: 34px; background-image: url(../images/logo-mobile.svg); display: block; background-position: center; background-size: contain;margin: auto}
.header__search-wrap input{display: none}
.header__area--left{width: 100%; -webkit-order: 3;-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3}
.header__area--middle{-webkit-order: 2;-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2}
.header__area--right{-webkit-order: 4;-webkit-box-ordinal-group: 5;-ms-flex-order: 4;order: 4}
.header__search-wrap{padding-left: 16px}
.header__search-wrap label{width: 17px; height: 17px;background-image: url(../images/search.svg);background-size: contain; display: block}
.header__basket{height: 24px; width: 22px; background-image: url(../images/basket.svg);background-size: contain; display: block; padding-right: 18px; box-sizing: initial}
.header__basket span{display: block; width: 19px; height: 19px; border-radius: 50%; background-color: #C6A464; position: absolute;right: 0; top: 0; bottom: 0; margin: auto}
.header__basket span:before{content: '3'; text-align: center; line-height: 20px; font-weight: 700; color: white; font-size: 10px; display: block}
.header__mobile-menu-wrap,.header__search-wrap{padding-top: 5px}
.header__mobile-menu-wrap{z-index: 100000}
.over-container.is_show{top: 0;padding: 102px 25px 0}
.header__mobile-menu.is_open span{display: none}
.header__mobile-menu.is_open:before,.header__mobile-menu.is_open:after{top: 0; bottom: 0;margin: auto; -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
.header__mobile-menu.is_open:after{-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.over-container.is_show{}
.over-container.is_show li a{padding: 10px 0; display: block}
.over-content{-webkit-align-items: flex-start;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;border-top: 1px solid #E1ECF2;}
.over-container.is_show .header__menu-wrap{display: block}
.over-container.is_show li a{padding: 5px 0}
.hidden-content__header{position: fixed; top: 0; right: 0; left: 0; background-color: white;z-index: 1000; display: flex; padding-bottom: 20px; border-bottom:1px solid #E1ECF2 }
.over-container.is_show .header__contacts-wrap{width: 65%; margin: auto; margin-right: 0; padding: 20px 0 0 ;display: block; max-width: 155px}
.over-container.is_show .header__contacts-wrap *{margin-bottom: 5px}
.over-container.is_show .header__phone-wrap a{display: block}
.header__phone-number{font-weight: bold; font-size: 18px}
.header__phone-recall{font-size: 11px; color: #C6A464; text-decoration: underline}
.header__city-title{font-size: 12px;}
.header__city-select{font-size: 11px; font-weight: 500; text-decoration: underline; text-decoration-style: dotted; color: #C6A464}
.header__city-wrap{display: -webkit-flex; -webkit-align-items: flex-end; margin-bottom: 10px;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
.header__city-select{margin-left: 10px}
.over-container.is_show .header__login-wrap{width: 30%;display: block; padding-top: 20px; max-width: 104px;padding-left: 8px}
.header__login {width: 70px; height: 30px; text-align: center; line-height: 29px; border: 2px solid #47708A; border-radius: 3px; display: block;font-weight: bold; cursor: pointer;}

.over-container.is_show .hidden-content__menu{margin: 20px 0}
.hidden-content__menu a{text-decoration: underline}
.over-content ul{list-style: none}
.menu-container ul li:before{content: ''; height: 22px; width: 22px; display: block; position: absolute; top: 0; bottom: 0; left: -32px;background-repeat: no-repeat; background-size: contain; background-position: center; margin: auto}
.over-container.is_show .over-content li a{padding: 10px 0}
.list-item-1:before{background-image:url(../images/icon1.svg)}
.list-item-2:before{background-image:url(../images/icon2.svg)}
.list-item-3:before{background-image:url(../images/icon3.svg)}
.list-item-4:before{background-image:url(../images/icon4.svg)}
.list-item-5:before{background-image:url(../images/icon5.svg)}
.list-item-6:before{background-image:url(../images/icon6.svg)}
.list-item-7:before{background-image:url(../images/icon7.svg)}
.list-item-8:before{background-image:url(../images/icon8.svg)}
.list-item-9:before{background-image:url(../images/icon9.svg)}
.list-item-10:before{background-image:url(../images/icon10.svg)}
.list-item-11:before{background-image:url(../images/icon11.svg)}
.header__social-wrap a{height: 25px; width: 25px; background-size: contain;display: inline-block}
.header__whatsapp{background-image: url(../images/wa.svg)}
.header__telegram{background-image: url(../images/tg.svg); margin: 0 15px}
.header__viber{background-image: url(../images/vb.svg)}
.over-container.is_show .header__social-wrap{display: block}
.header__social-wrap{padding-bottom: 20px; text-align: right}


@media only screen and (min-width: 1024px){
	
	.header__mobile-menu-wrap{display: none}
	.header__contacts-wrap, .header__social-wrap, .header__menu-wrap, .header__login-wrap, .header__wishlist, .main-menu{display: block}
	.header__logo{background-image: url(../images/logo.svg);height: 60px; width: 140px}
	.header__area--left{width: auto; -webkit-order: initial;-webkit-box-ordinal-group: initial;-ms-flex-order: initial;order: initial; display: -webkit-flex;display: -webkit-box;display: -ms-flexbox;display: flex}
	.header__area--middle{-webkit-order: initial;-webkit-box-ordinal-group: initial;-ms-flex-order: initial;order: initial}
	.header__area--right{-webkit-order: initial;-webkit-box-ordinal-group: initial;-ms-flex-order: initial;order: initial}
	.header__phone-wrap a{display: block}
	.header__social-wrap{padding-bottom: 0}
	.header .container{-webkit-justify-content: space-between;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-align-items: flex-start;-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;}
	.header .container > div{width: 16%}
	.header .container .header__area--middle{width: 50%}
	.header .container .header__area--right{max-width: 105px}
	.header__login{width: 100%}
	.header .container .header__area--middle{max-width: 600px}
	.header__contacts-wrap{width: 150px}
	.header .container .header__area--left{width: 350px; -webkit-justify-content: space-between;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
	.container{max-width: 1177px; margin: auto;}
	.header__social-wrap a{width: 20px; height: 20px; bottom: -6px}
	.header__social-wrap{max-width: 100px;display: -webkit-inline-flex; -webkit-justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;width: 30%}
	.header__telegram{margin: 0}
	.header__search-wrap input{display: initial; width: 100%; height: 30px; background-color: #F4F8FB; padding-left: 10px; border: none}
	.header__search-wrap{margin-left: 6%; width: 73%;display: inline-block; padding: 0}
	.header__search-wrap label{z-index: 10; position: absolute; top: 0; bottom:0; right: 10px; margin: auto; width: 11px; height: 11px;}
	.header__search-wrap input::placeholder{color: #B3BDC3; font-size: 11px}
	.header__search-wrap input::-moz-placeholder{color: #B3BDC3; font-size: 11px}
	.header__search-wrap input::-webkit-input-placeholder{color: #B3BDC3; font-size: 11px}
	.header__menu-wrap a{font-size: 13px}
	.header__menu-wrap li{display: inline-block; padding-right: 10px}
	.header__menu-wrap li:last-child{padding-right: 0}
	.header{padding-top: 50px}
	.header__city-wrap{margin-bottom: 15px}
	.header__phone-recall{padding-top: 8px}
	.header__search-wrap{margin-bottom: 25px}
	.header__wishlist{height: 24px; width: 22px; background-image: url(../images/heart.svg);background-size: contain; display: block; padding-right: 18px; box-sizing: initial}
	.header__wishlist span{display: block; width: 19px; height: 19px; border-radius: 50%; background-color: #C6A464; position: absolute;right: 0; top: 0; bottom: 0; margin: auto}
	.header__wishlist span:before{content: '0'; text-align: center; line-height: 20px; font-weight: 700; color: white; font-size: 10px; display: block}
	.header__basket span:before{content: '0';}
	.header__basket-wrap{display: -webkit-flex; -webkit-justify-content: space-around; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 15px 3px 0}
	.menu-container ul li{display: inline-block}
	.menu-container ul{display: -webkit-flex; -webkit-justify-content: space-between;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between}
	.menu-container ul li:before{height: 31px; width: 31px; top: auto; bottom: 0; right: auto;left: auto; position: relative; margin-bottom: 15px}
	.menu-container ul li a{font-weight: bold; padding-top: 15px; font-size: 14px}
	.menu-container{padding-top: 50px}
	.header__login:hover{background-color: #F0F0F0; -webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	.header__login:not(:hover){-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	.menu-container ul li a:hover{color: #C6A464; -webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	.menu-container ul li a:not(:hover){-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	.header__menu-wrap a:hover{color: #C6A464; -webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	.header__menu-wrap a:not(:hover){-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s}
	
}

@media only screen and (min-width: 1200px){
	.header__search-wrap{margin-left: 8%;}
	.container{ padding-left: 0; padding-right: 0}
}



